* {
   margin: 0; /* RESET */
   padding: 0; /* RESET */
}

body {
   margin: 0; /* RESET */
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 17px;
   color: black;
   line-height: 1.6;
}


.showcase {
   background-image: url("background.jpg"); /* gives background only from header to read more.*/
   height: 100vh; /* img takes all space but no full img displayed*/
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 20px;
}

.showcase h1 {
   font-size: 50px;
   line-height: 1.2;
}

.showcase p {
   font-size: 20px;
}

.button {
   font-size: 18px;
   text-decoration: none;
   color: black;
   border: black 1px solid;
   padding: 10px 20px;
   border-radius: 10px;
   margin-top: 20px;
}

.button:hover {
   background: black;
   color: white;
   border: white 1px solid;
}

.section-a {
   padding: 20px;
   background: black;
   color: white;
   text-align: center;
}

.section-b {
   padding: 20px;
   /* background: rgba(0, 0, 0, .6); */
   /* color: white; */
   text-align: center;
}


.section-c {
   display: flex;
}

.section-c div {
   padding: 20px;
}

.section-c .box-1, .section-c .box-3{
   background: rgba(0, 0, 0, .6);

}

.section-c .box-2 {
   background: rgba(0, 0, 0, .3);

}
