

* {
   margin: 0;
   padding: 0;
   user-select: none;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   box-sizing: inherit;
}

.desk,
.mob {
   width: 100%;
   background: pink;
   height: 60px;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14);
   position: fixed;
   top: 0;
   left: 0;
}

.desk ul {
   /* display: flex;
   align-content: center;
   justify-content: center; */
   list-style: none;
   width: 75%;
   height: 60px;
   margin: 0 auto;
}

.desk ul li {

   width: 20%;
   float: left;
   text-align: center;
   line-height: 60px;
   text-transform: uppercase;
   transition: all .5s ease;
   cursor: pointer;
}

.desk a {
   text-decoration: none;
   color: #fff;
}


ul li:hover {
   background: rgba(255, 255, 255, .3);
}

ul li.active {
   background: rgba(255, 255, 255, .3);
}

.mob,
.mob-btn {
   display: none;
}
@media screen and (max-width: 536px) {

   .desk {
      display: none;
   }

   .mob,
   .mob-btn {
      display: block;
   }

   .mob-btn {
      position: relative;

   }

   .mob-btn .fa-bars,
   .mob-btn .fa-times {
      position: fixed;
      right: 25px;
      top: 15px;
      font-size: 35px;
      color: #fff;
      cursor: pointer;
   }

   .mob .mob-list {
      margin-top: 60px;
      background: pink;
      /* display: none; */
   }

   .mob li {
      transition: all .5s ease;
      text-align: center;
      padding: 20px;
      cursor: pointer;
   }

   .mob li a {
      text-decoration: none;
      color: #fff;
      text-transform: capitalize;
   }
}
/*
   .mob .mob-list .active {
      display: block;
   }
}
   .active {
      display: block;
   } */


   /* .mob .show {
      display: block;
   }
} */



















.
